.st0{opacity:0.15;}
.st1{opacity:0.5;fill: #3b8241;enable-background:new    ;}
.st2{opacity:0.47;fill: #3d914e;enable-background:new    ;}
.st3{fill:#00C9A7;}
.st4{fill:none;stroke:#1E2022;stroke-miterlimit:10;}
.st5{fill:#4D5068;}
.st6{fill:#FFC107;}
.st7{fill: #3b8241;}
.st8{fill: #3b8241;}
.st9{fill:#F4D076;}
.st10{fill:#DE4437;}
.st11{fill: #0ac98c;}
.st12{fill:#FCD991;}
.st13{fill:#EFA02E;}
.st14{fill:#1E2022;}
.st15{fill:#FFFFFF;}
.st16{fill:#191C3C;}
.st17{fill:#FFE8BF;}
.st18{opacity:0.35;}
.st19{fill:#BFD1DD;}
.st20{fill:none;stroke: #3d914e;stroke-width:0.75;stroke-miterlimit:10;}
.st21{fill:#E7EAF3;}
.st22{fill: #3b8241;}
.st23{fill:#F6F9FC;}
.st24{opacity:0.3;fill:#191C3C;enable-background:new    ;}
.st25{opacity:0.5;fill:#F4E1B8;fill-opacity:0.6;enable-background:new    ;}
.st26{opacity:0.4;fill:#191C3C;enable-background:new    ;}
.st27{fill:#E2C076;}
.st28{fill:#E6B255;}
.st29{fill:#DBB361;}
.st30{fill:#EFDCB4;}
.st31{opacity:0.3;}
.st32{fill:#717386;}
.st33{fill:none;stroke:#191C3C;stroke-width:0.5;stroke-miterlimit:10;}
.st34{opacity:0.18;}
.st35{fill:#3E4154;}
.st36{fill:#F5F7F9;}
.st37{opacity:0.2;}
.st38{fill:#FEC55E;}
.st39{fill: #2b562b;}
.st40{fill:#DDAB52;}
.st41{fill:#F8FAFD;}
.st42{fill:none;}
.st43{fill: #0ac98c;}
.st44{opacity:0.1;fill:#231F20;enable-background:new    ;}
.st45{opacity:0.1;}
.st46{fill:#231F20;}
.st47{opacity:0.2;fill:#231F20;enable-background:new    ;}
.st48{fill:#F2D188;}
.st49{opacity:0.3;fill:#231F20;enable-background:new    ;}
.st50{fill:#F7DE9F;}
.st51{fill:#FEDC9E;}
.st52{fill:#1B1D1F;}
.st53{fill:#434C51;}
.st54{fill:#212121;}